/* =========================
   LAYOUT STYLES
   ========================= */

/* Main Layout */
.wrapper {
    display: flex;
}

.layout {
    display: flex;
}

.main-content {
    margin-left: 250px;
    width: calc(100% - 250px);
    flex: 1;
}

.main {
    margin-left: 250px;
    width: calc(100% - 250px);
}

/* Content Area */
.content {
    padding: 25px;
}

.filter-actions {
    margin-bottom: 15px;
}
